header{
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150px
}
body {
    background-color: yellow;
    font-size: 16px;
}

